{% extends "base.html" %}
{% block content %}

<div class="album py-5 bg-body-tertiary"></div>
<div class="grid-container">
    
    {% for movie in movies %}
    <form action="/get_recommendations" method="post"  onsubmit="return validateForm()">
    <div class="col">
        <div class="card shadow-sm">
        <div class="grid-item"><img class="bd-placeholder-img card-img-top" width="100%" height="200" preserveAspectRatio="xMidYMid slice"  focusable="false" src="{{ movie['image_url'] }}"></div>
        <div class="card-body">
            <p class="card-text">{{ movie['title'] }}</p>
            <div class="d-flex justify-content-between align-items-center">
            <span class="badge bg-primary-subtle text-primary-emphasis rounded-pill">{{ movie['genres'] }}</span>
             <input  type="checkbox" name="selected_movies" value="{{ movie['movieId'] }}">
                </div>
            </div>
        </div>
    </div>
</form>
    {% endfor %}
</div>

   <div> <input type="submit" value="Submit"> </div>

<script>
    function validateForm() {
        var checkboxes = document.querySelectorAll('input[name="selected_movies"]:checked');
        if (checkboxes.length < 10) {
            alert("Please select at least 10 movies.");
            return false;
        }
        return true;
    }
</script>
{% endblock %}
