{% extends "base.html" %}
{% block content %}
<form action="/get_recommendations" method="post"  onsubmit="return validateForm()">
    {% for movie in movies %}
    <p><img src="{{ movie['image_url'] }}"></p>
    <p>{{ movie['title'] }} <input type="checkbox" name="selected_movies" value="{{ movie['movieId'] }}"></p>
    <p>{{ movie['genres'] }}</p>
    {% endfor %}
    <input type="submit" value="Submit">
</form>
<script>
    function validateForm() {
        var checkboxes = document.querySelectorAll('input[name="selected_movies"]:checked');
        if (checkboxes.length < 10) {
            alert("Please select at least 10 movies.");
            return false;
        }
        return true;
    }
</script>
{% endblock %}
